:root {
  color-scheme: light;
  background-color: var(--app-bg);
  color: var(--app-text);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--app-bg-dark);
    color: var(--app-text-dark);
  }
} */

#root {
  height: 100vh;
  width: 100%;
}
